#p2 {
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
    background-image:url('/assets/air.jpg');
    min-height: 91vmin;    
}  

#down{
        font-size: 12pt;
        padding: 17px 0;   
}
