<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
  <img src="/assets/logoTEC.png" width="40" height="35">
  <a class="navbar-brand" style="color:white">TECAirlines</a>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/">Home</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link">Promotions<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="/checkIn">Check In</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="/signUp">Sign Up</a>
      </li>
    </ul>
  </div>
</nav>

<div class="container-fluid" id="bodyColor">
  <br><br>
  <br><br>

  <div class="container">
    <div class="form-row justify-content-center" style="color:white">
      <div class="form-group col-md-3">
        User name<input #UN type="text" class="form-control" id="inputEmail4" required>
      </div>
      <div class="form-group col-md-3">
        Password<input #P type="password" class="form-control" id="inputPassword4" required>
      </div>
    </div>
    <div class="form-row justify-content-center">
      <div class="form-group col-md-6">
        <button (click)="logIn(UN.value,P.value)" class="btn btn-outline-info btn-block" type="button">Log
          In</button><br>
      </div>
    </div>
    <div class="form-row justify-content-center">
      <div *ngIf="modalMSG==0" style="margin:0 auto;" class="alert alert-{{type}} alert-dismissible fade show"
        role="alert">
        <strong>{{msj}}</strong>{{text}}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="closeMessage()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    </div>


    <form [hidden]="!showTable">
      <div class="container">
        <div class="container-fluid ">
          <div class="container">
            <br>
              <div class="card mb-3" *ngFor="let item of list_promotions;  let i = index">
                <!-- src="assets/item.image" -->
                <img src="assets/casablanca.jpg" class="card-img-top" alt="..." width="100" height="250">
                <div class="card-body">
                  <h5 class="card-title">Promotion #{{i+1}}</h5>
                  <p class="card-text">Discount <strong class="text-muted">{{item.discount}}%</strong></p>
                  <p class="card-text">From {{item.depart_ap}} to {{item.arrival_ap}}</p>
                  <p class="card-text"><small class="text-muted">>{{item.exp_date}}</small></p>
                  
                </div>
              </div>
              <br>
          </div>
        </div>
      </div>
    </form>

  </div>
</div>
