<div>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <img src="/assets/airplaneSVG.svg" width="40" height="40" alt="">
    <a class="navbar-brand " href="#">TECAirlines</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link">Registry<span class="sr-only">(current)</span></a>
        </li>
      </ul>
    </div>
    <form class="form-inline my-2 my-lg-0">
      <button class="btn btn-outline-primary my-2 my-sm-0" type="submit" routerLink="/">Back</button>
    </form>
  </nav>
</div>
<div class="div" id="p2">
  <div class="container-fluid w-50">
    <br>    
    <form>
      <div class="form-group">
        <label for="formGroupExampleInput">Full name</label>
        <div class="form-row">
          <div class="col">
            <input type="text" class="form-control" placeholder="First name">
          </div>
          <div class="col">
            <input type="text" class="form-control" placeholder="Last name">
          </div>
        </div>
      </div>
      
<!-- Button trigger modal -->
<button type="button" class="btn btn-outline-light btn-block" data-toggle="modal" data-target="#exampleModal">
    I'm a Student..
  </button>

      <div class="form-group">
        <label for="formGroupExampleInput">Phone</label>
        <input type="tel" class="form-control">
      </div>
      <div class="form-group">
        <label for="formGroupExampleInput">E-mail</label>
        <input type="email" class="form-control">
      </div>
      <div class="form-group">
        <label for="formGroupExampleInput">UserName</label>
        <input type="text" class="form-control">
      </div>
      <div class="form-group">
        <div class="form-row">
          <div class="col">
            <label for="formGroupExampleInput">Password</label>
            <input type="text" class="form-control">
          </div>
          <div class="col">
              <label for="formGroupExampleInput">Verificate Password</label>
            <input type="text" class="form-control">
          </div>
        </div>
      </div>
      <button type="button" class="btn btn-success btn-block">Success</button>
    </form>
  </div>
  <br>

</div>

  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Student</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form>
                <div class="form-group">
                  <label for="formGroupExampleInput">Information of university</label>
                  <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                </div>
                <div class="form-group">
                  <label for="formGroupExampleInput2">Carnet</label>
                  <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Another input">
                </div>
              </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>